@media (min-width: 992px) {
  .navbar {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas: "logo try-it";
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100%;
    }

    .try-it {
      button {
        padding: 0.5rem 1.5rem;
      }
    }
  }

  ///////////////////// Intro

  .intro-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "intro"
      "screen-mockups"
      "statistics";
    row-gap: 4rem;

    .intro {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "heading"
        "paragraph"
        "get-started";
      justify-items: center;
      row-gap: 2rem;

      .paragraph {
        width: 50%;
      }

      .get-started {
        margin-top: 1.2rem;
        button {
          padding: 1.4rem 6.5rem;
        }
      }
    }

    ///////////////////// Screen Mockups

    .screen-mockups {
      justify-self: center;
    }

    ///////////////////// Statistics

    .statistics {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      grid-template-areas: "communities messages";
      justify-content: space-evenly;

      .communities,
      .messages {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
          "icon"
          "number"
          "paragraph";

        .icon {
          width: 18%;
          justify-self: flex-start;
        }

        .paragraph {
          font-weight: 500;
        }
      }
    }
  }

  ///////////////////// Grow, Flowing, Your Users

  .grow-bg-top-m,
  .grow-bg-bottom-m,
  .your-users-bg-top-m,
  .your-users-bg-bottom-m {
    display: none;
  }

  .grow-bg-top-d {
    display: block;
    transform: translateY(-7rem);
  }

  .grow-bg-bottom-d {
    display: block;
    transform: translateY(17.5rem);
  }

  .your-users-bg-top-d {
    display: block;
    transform: translateY(-6.5rem);
  }

  .your-users-bg-bottom-d {
    display: block;
    transform: translateY(16.5rem);
  }

  .grow,
  .your-users {
    display: grid;
    grid-template-columns: 10% repeat(2, auto) 10%;
    grid-template-rows: auto;
    grid-template-areas: ". text-section illustration .";

    .illustration {
      width: 100%;
    }

    .text-section {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "heading"
        "paragraph";
      row-gap: 1rem;
      justify-items: start;

      .heading {
        align-self: flex-end;
      }

      .paragraph {
        @include m-0;
        width: 75%;
        p {
          @include text-left;
        }
      }
    }
  }

  .flowing {
    display: grid;
    grid-template-columns: 10% auto 45% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". illustration text-section .";
    justify-items: center;

    .illustration {
      width: 100%;
    }

    .text-section {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "heading"
        "paragraph";
      row-gap: 1rem;

      .heading {
        align-self: flex-end;
      }

      .paragraph {
        @include m-0;
        width: 75%;
        p {
          @include text-left;
        }
      }
    }
  }

  ///////////////////// Ready

  .ready {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "heading"
      "get-started";
    justify-items: center;
    row-gap: 1.5rem;
    margin-bottom: 7rem;
    .heading {
      width: 100%;

      h3 {
        @include text-center;
      }
    }

    .get-started {
      margin-top: 0.5rem;
      button {
        padding: 1.4rem 6.5rem;
      }
    }
  }
  ///////////////////// Footer

  .footer-shape-m {
    display: none;
  }

  .footer-shape-d {
    display: block;
    position: absolute;
    transform: translateY(-6.5rem);
    width: 100%;

    img {
      width: 100%;
    }
  }

  .footer {
    padding: 5rem 0 2.5rem 0;
    display: grid;
    grid-template-columns: 10% auto 10% auto 10%;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". contact-section . subscribe ."
      "credits";
    row-gap: 2rem;

    .subscribe {
      padding: 0 0.5rem;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, auto) 15% 40%;
      grid-template-areas:
        "title"
        "paragraph"
        "newsletter"
        ".";
      row-gap: 0;
      grid-row: 1/2;
      grid-column: 4/5;
      .title {
        h4 {
          font-weight: 600;
          font-family: $open-sans;
        }
      }

      .paragraph {
        width: 65%;
        p {
          font-weight: 600;
          line-height: 1.7;
        }
      }

      .newsletter {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-template-areas: "input sub-button";
        column-gap: 0.5rem;
        .input {
          width: 100%;
          border: none;
          border-radius: 0.3rem;
          padding: 0;
        }

        .sub-button {
          justify-self: flex-start;

          button {
            background: $pink;
            border: none;
            border-radius: 0.3rem;
            padding: 0.8rem 2.5rem;
            font-weight: 600;
            color: $white;
          }
        }
      }
    }

    .contact-section {
      padding: 0 0.5rem;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "logo"
        "paragraph"
        "contact-info"
        "social-icons";
      row-gap: 2rem;
      grid-row: 1/2;
      grid-column: 2/3;
      .logo {
        width: 35%;
      }

      .paragraph {
        width: 50%;
        p {
          font-weight: 500;
          line-height: 1.7;
        }
      }

      .contact-info {
        .phone {
          margin-bottom: 1rem;
        }
      }

      .social-icons {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;

        .facebook,
        .twitter,
        .instagram {
          width: 5%;
          margin-right: 1rem;
        }
      }
    }

    .credits {
      grid-column: 1/6;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      justify-items: center;
    }
  }
}

@media (min-width: 1024px) {
  .grow-bg-top-d {
    transform: translateY(-7rem);
  }

  .grow-bg-bottom-d {
    transform: translateY(18rem);
  }

  .your-users-bg-top-d {
    transform: translateY(-6.85rem);
  }

  .your-users-bg-bottom-d {
    transform: translateY(17rem);
  }

  .footer-shape-d {
    transform: translateY(-7rem);
  }
}

@media (min-width: 1200px) {
  .grow-bg-top-d {
    transform: translateY(-8.5rem);
  }

  .grow-bg-bottom-d {
    transform: translateY(21.5rem);
  }

  .your-users-bg-top-d {
    transform: translateY(-8rem);
  }

  .your-users-bg-bottom-d {
    transform: translateY(20.5rem);
  }

  .footer-shape-d {
    transform: translateY(-8rem);
  }
}

@media (min-width: 1440px) {
  .footer-shape-d {
    transform: translateY(-9.5rem);
  }

  .grow-bg-top-d {
    transform: translateY(-10rem);
  }

  .grow-bg-bottom-d {
    transform: translateY(26rem);
  }

  .your-users-bg-top-d {
    transform: translateY(-9.5rem);
  }

  .your-users-bg-bottom-d {
    transform: translateY(24.5rem);
  }

  .footer-shape-d {
    transform: translateY(-8rem);
  }
}
